<div class="mainContainer mt-3">

  <div class="row stickyBox">
    <div class="col-xl-4 col-lg-6 mb-3">
      <mat-card class="box headerBox">
        <mat-card-header>
          <div mat-card-avatar class="ml-4">
            <span class="dash-widget-icon textBtn" style="background-color: #5a73f329;"
              routerLink="/UpdateTruck/{{truckInfo.id}}">
              <i class="fa fa-truck iconBtn textSecondary"></i>
            </span>
          </div>
          <mat-card-title class="textSecondary">
            {{truckInfo.name}}
          </mat-card-title>
          <mat-card-subtitle>
            <h5 class="homeSubtitle">
              <span class="textSecondary">{{truckInfo.truckType}}</span> | {{truckInfo.number}}
            </h5>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3 class="pt-2" [class.textDanger]="truckInfo.owner == 'سيارة خارجية'">{{truckInfo.owner}}</h3>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button routerLink="/TrucksList">المعدات</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="box stickyBox">

    <div class="d-flex justify-content-between">

      <div class="form-inline">
        <mat-form-field class="searchForm" style="width: 500px;">
          <input matInput placeholder="بحث" name="searchTxt" [(ngModel)]='searchTxt' (ngModelChange)="search()">
        </mat-form-field>

        <button mat-stroked-button color="primary" class="mr-2" (click)="openFilterDialog('filter')">
          <i class="fa fa-filter"></i>
        </button>

        <div *ngIf="searchDate.from" class="mr-3">من تاريخ | {{searchDate.from}} - الى تاريخ | {{searchDate.to}}</div>
      </div>

      <div class="form-inline">

        <div class="infoCard darkBadge borderLdark py-2 mx-2">
          اجمالى تشغيل | {{totalIncome | number:'1.0-2'}}
        </div>

        <div *ngIf="totalCashIn != 0" class="infoCard blueBadge borderLsecondary py-2 mx-2 textBtn badgeBtn"
          (click)="search('ايصال نقدية')">
          اجمالى دفعات | {{totalCashIn | number:'1.0-2'}}
        </div>

        <div *ngIf="truckOtherAccInfo?.accId" class="infoCard dangerBadge borderLdanger py-2 mx-2 textBtn badgeBtn"
          routerLink="/OtherAccInformation/{{truckOtherAccInfo.accId}}">
          اجمالى مصاريف | {{truckOtherAccInfo.currentAccVal | number:'1.0-2'}}
        </div>

        <div class="infoCard py-2 mx-2"
          [ngClass]="(totalIncome - (truckOtherAccInfo?.currentAccVal ? truckOtherAccInfo.currentAccVal : 0)) < 0 ? 'dangerBadge borderLdanger' : 'greenBadge borderRight-success'">
          صافى | {{totalIncome - (truckOtherAccInfo?.currentAccVal ? truckOtherAccInfo.currentAccVal : 0) - totalCashIn
          | number:'1.0-2'}}
        </div>
      </div>
    </div>

    <div class="example-container">
      <table [dataSource]="listData" mat-table class="full-width-table" matSort aria-label="Elements">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>م</th>
          <td mat-cell *matCellDef="let row">
            {{row.id}}
          </td>
        </ng-container>


        <ng-container matColumnDef="date_time">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>التاريخ</th>
          <td mat-cell *matCellDef="let row">
            {{row.date_time}}
          </td>
        </ng-container>

        <ng-container matColumnDef="orderId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>اذن رقم</th>
          <td mat-cell *matCellDef="let row" class="textBtn tBtn-dark pl-2" [routerLink]="
            row.orderType != 'safereceipt' && truckInfo.truckType != 'مضخة'
            ? '/UpdateTruckorder/' + row.orderId
            : row.orderType != 'safereceipt' && truckInfo.truckType == 'مضخة'
            ? '/UpdateConcreteBon/' + row.orderId : '/SafeReceipt/' + row.orderId">
            {{row.orderId}}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="truckName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم السيارة</th>
          <td mat-cell *matCellDef="let row" class="textBtn tBtn-dark pl-2" routerLink="/UpdateTruck/{{row.id}}">
            {{row.truckName}}</td>
        </ng-container> -->

        <ng-container matColumnDef="truckCapacity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>حمولة السيارة</th>
          <td mat-cell *matCellDef="let row" class="noHover"
            [class.box]="row.loadingType != 'متر' && row.orderType != 'safereceipt'"
            [class.dangerBadge]="row.orderType == 'safereceipt'">
            {{row.loadingType == 'متر' ? row.truckCapacity : ''}} {{row.loadingType}}
          </td>
        </ng-container>

        <!-- truckCustomerId -->
        <ng-container matColumnDef="truckCustomerName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>العميل</th>
          <td mat-cell *matCellDef="let row" [class.dangerBadge]="row.orderType == 'safereceipt'"
            routerLink="/TruckCustomerInformation/{{row.truckCustomerId}}" class="textBtn tBtn-dark pl-2">
            {{row.truckCustomerName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="LoadTimes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>نقلات | ساعات</th>
          <td mat-cell *matCellDef="let row" [class.dangerBadge]="row.orderType == 'safereceipt'">
            {{row.LoadTimes}}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalQty">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>اجمالى التشغيل</th>
          <td mat-cell *matCellDef="let row" [class.dangerBadge]="row.orderType == 'safereceipt'">
            {{row.totalQty}} {{row.loadingType}}
          </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>السعر</th>
          <td mat-cell *matCellDef="let row" [class.dangerBadge]="row.orderType == 'safereceipt'">
            {{row.price}} {{row.orderType != 'safereceipt' ? 'للـ' :
            ''}}{{row.loadingType}}</td>
        </ng-container>

        <ng-container matColumnDef="totalVal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>اجمالى</th>
          <td mat-cell *matCellDef="let row" [class.dangerBadge]="row.totalVal < 0" class="tdBorder">{{row.totalVal |
            number: '1.0-2'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="netVal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>صافى</th>
          <td mat-cell *matCellDef="let row" class="truckOrder lightBg textBold" [class.textDanger]="row.netVal < 0">
            {{row.netVal | number: '1.0-2'}}
          </td>
        </ng-container>

        <!-- (click)="routToInvoice(row.stockTransactionDetailsId)" -->
        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ملاحظات</th>
          <td mat-cell *matCellDef="let row" (click)="routToInvoice(row.stockTransactionId)"
            [ngClass]="row.stockTransactionId > '1' ? 'textBtn tBtn-dark pl-2' : ''">
            {{row.notes}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="tableHeader">
        </tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="height: fit-content;">
        </tr>
      </table>
    </div>

    <mat-paginator #paginator [length]="listData?.data.length" [pageIndex]="0" [pageSize]="100"
      [pageSizeOptions]="[10, 15, 20, 50, 100, 300, 500, 1000]" class="printX">
    </mat-paginator>

  </div>
  <!-- <div class="d-flex justify-content-between px-3">
    <div class="my-auto">
      <a mat-flat-button color="accent" routerLink="/AddTruck" matTooltipPosition="above" matTooltip="اضافة سيارة">
        <i class="fa fa-plus fa-lg pt-1 textBold"></i>
      </a>
    </div>
  </div> -->




</div>
