<div class="container">
  <div class="box p-4">
      <h3 class="cardHeader mb-4">بيانات حساب</h3>
      <form (ngSubmit)="onSubmit(addOtherAccForm)" #addOtherAccForm="ngForm">
          <table class="example-full-width" cellspacing="0">
              <tr>
                  <td>
                      <mat-form-field class="example-full-width">
                          <mat-label>اسم الحساب</mat-label>
                          <input required matInput name="AccName" [(ngModel)]="acc.AccName" #AccName
                              (change)="accNameChanged(addOtherAccForm)">
                          <mat-error *ngIf="!inputValid.acc.cond">
                              {{inputValid.acc.msg}}
                          </mat-error>
                      </mat-form-field>
                  </td>
              </tr>
          </table>
          <div class="form-inline">
              <button [disabled]="_glopal.loading" mat-flat-button color="primary" class="mt-3" type="submit">{{submitBtn}}</button>
              <div *ngIf="!inputValid.form" class="dangerAlert mt-3 mr-3">يجب مراجعة اخطاء الادخال قبل التسجيل</div>
          </div>
      </form>
  </div>
</div>
