<div class="container">
  <div class="box p-4">
    <h3 class="cardHeader mb-4">بيانات الخرسانة</h3>
    <form (ngSubmit)="onSubmit(addConcreteForm)" #addConcreteForm="ngForm">
      <mat-form-field style="width: 500px;">
        <input matInput required placeholder="الاسم" name="concreteName" #concreteName [(ngModel)]="concrete.name"
          (change)="concreteNameChanged(addConcreteForm)">

        <mat-error>
          الاسم مسجل بالفعل
        </mat-error>
      </mat-form-field>

      <mat-divider class="my-3"></mat-divider>

      <div class="container">
        <h3 class="cardHeader mb-4">المكونات</h3>

        <div class="panel-body panel-flex-table standTable inpTable">
          <table class="flex-table table invoiceTable theadBorderPrimary">
            <thead>
              <tr>
                <th class="thCenter" style="flex: .25;">م</th>
                <th style="flex: 3">اسم الخام</th>
                <th>الكمية</th>
              </tr>
            </thead>
            <tbody class="tableBody inpTableBody">
              <tr *ngFor="let material of concrete.materials; let i = index" class="noHover">
                <td style="flex: .25;" class="text-center">
                  <div class="pt-2">{{i + 1}}</div>
                </td>
                <td style="flex: 3">
                  <input type="text" class="form-control" name="productName{{i}}" [(ngModel)]="material.productName"
                    (change)="productNameChanged(i)" autocomplete="off"
                    [attr.list]="material.productName && product.dirty ? dataList[i] : ''" #product="ngModel">

                  <datalist id="datalistproducts{{i}}">
                    <option *ngFor="let product of productList" value="{{product.productName}}">
                    </option>
                  </datalist>

                  <div *ngIf="!formValid.materials[i]?.productName" class="alert-danger infoCard"
                    style="width:fit-content;">
                    برجاء ادخال اسم صنف صحيح
                  </div>
                </td>
                <td>
                  <input type="text" class="form-control" name="materialQty{{i}}" [(ngModel)]="material.materialQty"
                    (ngModelChange)="formValid.mainForm = true">
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <mat-divider class="my-3"></mat-divider>

        <div class="d-flex justify-content-between">
          <button type="button" mat-stroked-button color="accent" (click)="addRow()">+</button>
          <button mat-flat-button color="primary" type="submit"
            [disabled]="!formValid.mainForm || !addConcreteForm.valid">
            {{id ? 'تعديل' : 'اضافة'}}
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
