<h3 class="textBold" [ngClass]="data.receiptKind == 'ايصال صرف نقدية' ? 'textPrimary' : 'textDanger'">
  {{data.receiptKind == 'ايصال صرف نقدية' ? 'اضافة الى' : 'خصم من'}} حساب | {{data.customerName}}
</h3>
<hr>
<mat-dialog-content>
  <form #modalForm="ngForm">
    <input class="d-none" name="currentSafeVal" [(ngModel)]='data.currentSafeVal'>
    <input class="d-none" name="safeId" [(ngModel)]='data.safeId'>
    <input class="d-none" name="customerId" [(ngModel)]='data.customerId'>
    <input class="d-none" name="currentSafeVal" [(ngModel)]='data.currentSafeVal'>
    <input class="d-none" name="accId" [(ngModel)]='data.accId'>
    <table class="fullWidth">
      <tr>
        <td>
          <mat-form-field>
            <mat-label>نوع الايصال</mat-label>
            <mat-select [disabled]="loading" required #receiptKind name="receiptKind" [(ngModel)]="data.receiptKind"
              id="receiptKind">
              <mat-option value="ايصال استلام نقدية">
                ايصال استلام نقدية
              </mat-option>
              <mat-option value="ايصال صرف نقدية">
                ايصال صرف نقدية
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <mat-select [disabled]="loading" required #safeName name="safeName" [(ngModel)]="data.safeName"
              (ngModelChange)="safeChanged()">
              <mat-option *ngFor="let safe of safeList" value="{{safe.safeName}}">
                {{safe.safeName}}
              </mat-option>
            </mat-select>
            <mat-error>يجب اختيار خزنة</mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input [disabled]="loading" matInput placeholder="التاريخ" type="datetime-local" name="date_time" #date_time
              required [ngModel]="data.date_time" id="date_time">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field>
            <input [disabled]="loading" matInput placeholder="ترحيل الخصم الى حساب" list="accList"
              class="mdb-autocomplete" #AccName name="AccName" [(ngModel)]="data.AccName"
              (ngModelChange)="accNameChanged(modalForm)" required>
            <datalist id="accList">
              <option *ngFor="let acc of accList" value="{{acc.AccName}}">
              </option>
            </datalist>

            <mat-error>
              يجب اختيار حساب صحيح
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <mat-form-field class="w-100">
            <input [disabled]="loading" matInput placeholder="ملاحظات" maxlength='200' name="recieptNote" #recieptNote
              [ngModel]="data.recieptNote">
            <mat-hint align="end">{{recieptNote.value.length || 0}} / 200</mat-hint>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
          <mat-form-field cellspacing="0">
            <input [disabled]="loading" matInput placeholder="قيمة الخصم" type="number" #receiptVal name="receiptVal"
              [ngModel]="data.receiptVal" required>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </form>
</mat-dialog-content>
<hr>
<mat-dialog-actions class="mx-2">
  <button [disabled]="!modalForm.valid" mat-flat-button color="warn" mat-dialog-close
    [mat-dialog-close]="modalForm.value">اضافة الخصم</button>
  <div [class.d-none]="!loading" style="width: 100%;" class="mt-2">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</mat-dialog-actions>
