@import '../../scss/varibals.scss';

.tableBody {
  td,
  th {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  th {
    border-left: 1px solid rgba(0,0,0, .15);
  }
}

mat-panel-description {
  font-weight: bolder;
}

.borderLsecondary,
.borderLdark,
.borderLdanger {
  padding-right: 0;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

#mainCustomerInfo_id {
  position: fixed;
  z-index: 2;
  top: 70px;
  left: -100%;
  bottom: 70px;
  width: 800px;
  transition: left 0.15s;
  //background-color: $darkBg; //rgba(0,0,0, .75);
  background: linear-gradient(
    #e7eaf8 0 94%,
    #a4b2f7 0 6%
  );
}

#mainCompanies_mat_card {
  width: 100%;
  transition: 0.15s;
}
