.tableBody {
  td {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}

mat-panel-description {
  font-weight: bolder;
}

.borderLsecondary,
.borderLdark,
.borderLdanger {
  padding-right: 0;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

#mainCustomerInfo_id {
  position: fixed;
  z-index: 2;
  top: 70px;
  left: -100%;
  bottom: 70px;
  width: 700px;
  transition: left 0.5s;
}

#mainCompanies_mat_card {
  width: 100%;
  transition: 0.5s;
}

/* #mainCustomerInfo_id .collap {
  width: 0px;
  right: -100%;
  right: 15px;
}

#mainCustomerInfo_id .expand {
  width: 100%;
  height: 100%;
  right: 15px;
} */
