<!-- cantFindInvoice -->
<div *ngIf="!showInvoice && cantFindInvoice.msg" class="mt-5 container text-center bg-white p-2 boxShadow boxRadios" [class]="cantFindInvoice.class">
  <h2 class="textBold">{{cantFindInvoice.msg}}</h2>
  <mat-divider class="mb-5"></mat-divider>
  <div class="mt-3 pt-3">
    <div class="arcPointer arcPointer-lg pt-3" [ngClass]="cantFindInvoice.msg?.includes('لا توجد بيانات') ? 'arcPointer-accent' : 'arcPointer-danger'">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>

<div class="mainContainer" [class.d-none]="!showInvoice">

  <div class="row">
    <div class="col-lg-10 col-md-12">

      <mat-card class="mb-3 pr-3 boxBg"
        [ngClass]="safeReciept.receiptKind == 'ايصال صرف نقدية' ? 'borderRight-alert' : 'borderRight-primary'">
        <mat-card-header class="d-flex justify-content-between">
          <!-- <div mat-card-avatar>avatar</div> -->
          <mat-card-title [class.textDanger]="safeReciept.receiptKind == 'ايصال صرف نقدية'">
            {{recieptCondition}}
          </mat-card-title>
          <!-- <mat-card-subtitle>sub-header</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>

          <form (ngSubmit)="onSubmit(addSafeReciept)" #addSafeReciept="ngForm" class="mt-3">

            <div class="d-flex justify-content-between">
              <div class="form-inline">
                <mat-form-field style="width: 250px;">
                  <mat-label>نوع الايصال</mat-label>
                  <mat-select required #receiptKind name="receiptKind" [(ngModel)]="safeReciept.receiptKind"
                    id="receiptKind">
                    <mat-option value="ايصال استلام نقدية" (click)="receiptKindChanged(addSafeReciept)">
                      ايصال استلام نقدية
                    </mat-option>
                    <mat-option value="ايصال صرف نقدية" (click)="receiptKindChanged(addSafeReciept)">
                      ايصال صرف نقدية
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="safeReciept.receiptKind === 'ايصال صرف نقدية'" class="mr-3">
                  <button mat-button type="button" [matMenuTriggerFor]="accMenue">ترحيل الى...</button>
                  <mat-menu #accMenue="matMenu">
                    <button *ngFor="let acc of accList" mat-menu-item type="button"
                      (click)="toAcc(acc)">{{acc.AccName}}</button>
                  </mat-menu>
                  <!-- <button mat-button color="primary" type="button" (click)="toAcc('المصاريف')">مصاريف</button>
                    <button mat-button color="primary" type="button" (click)="toAcc('عمال')">عمال</button> -->
                </div>
              </div>
              <!-- <div class="infoCard boxShadow px-3"
                [ngClass]="safeReciept.receiptKind == 'ايصال صرف نقدية' ? 'dangerBadge borderLdanger' : 'darkBadge borderLdark'">
                <div class="my-3 textBold">{{recieptCondition}}</div>
              </div> -->
            </div>

            <mat-divider></mat-divider>

            <mat-form-field style="width: 250px;" class="mt-3">
              <mat-label>تاريخ الايصال</mat-label>
              <input matInput [disabled]="dateExpires" type="datetime-local" name="date_time"
                [(ngModel)]="safeReciept.date_time" id="date_time">
            </mat-form-field>

            <table class="example-full-width my-3" cellspacing="0" class="col-lg-8 col-sm-12">
              <tr>
                <td style="width: 70%;">
                  <mat-form-field class="example-full-width">
                    <mat-label>استلام من خزنة</mat-label>
                    <mat-select required #fstSafeName name="fstSafeName" [(ngModel)]="safeReciept.safeName"
                      (ngModelChange)="safeChanged('first')">
                      <mat-option *ngFor="let safe of safeList" value="{{safe.safeName}}">
                        {{safe.safeName}}
                      </mat-option>
                    </mat-select>
                    <mat-error>يجب اختيار خزنة</mat-error>
                  </mat-form-field>
                </td>
                <td style="width: 30%;">
                  <div class="textBold p-2 text-center infoCard blueBadge textBtn" id="saferecieptVal"
                    routerLink="/SafeInformation/{{safeReciept.safeId}}" matTooltip="حركة الخزنة"
                    matTooltipPosition="before" matTooltipClass="secondaryBg">
                    {{safeReciept.currentSafeVal | number:'1.0-2'}}</div>
                </td>
              </tr>
            </table>

            <div class="form-inline my-3"
              [ngClass]="safeReciept.receiptKind == 'ايصال صرف نقدية' ? 'borderYdanger' : 'borderYprimary'">
              <div class="textBold ml-3">نوع الحساب</div>
              <mat-form-field>
                <mat-select required #transactionAccKind name="transactionAccKind"
                  [(ngModel)]="safeReciept.transactionAccKind" (ngModelChange)="tranceAccChanged()">
                  <mat-option value="عميل">
                    عميل
                  </mat-option>
                  <mat-option value="حساب">
                    حساب
                  </mat-option>
                  <mat-option value="عميل خرسانة">
                    عميل خرسانة
                  </mat-option>
                  <mat-option value="عميل معدات">
                    عميل معدات
                  </mat-option>
                  <mat-option value="دفعات للمعدة">
                    دفعات للمعدة
                  </mat-option>
                  <mat-option value="موظفين">
                    موظفين
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- outdent -->
              <div class="infoCard mr-5"
                [ngClass]="safeReciept.receiptKind == 'ايصال استلام نقدية' ? 'darkBadge borderLdark' : 'dangerBadge borderLdanger'">
                <i [ngClass]="safeReciept.transactionAccKind === 'حساب' ? 'fa-outdent' : 'fa-id-badge'"
                  class="fa fa-lg py-2"></i>
              </div>
            </div>

            <table class="example-full-width my-3" cellspacing="0" class="col-lg-8 col-sm-12">
              <!-- if Customer -->
              <tr *ngIf="safeReciept.transactionAccKind == 'عميل'">
                <td style="width: 70%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="اسم العميل" list="customerList" class="mdb-autocomplete" #customerName
                      name="customerName" [(ngModel)]="safeReciept.customerName"
                      (change)="customerNameChanged(addSafeReciept)" required>
                    <datalist id="customerList">
                      <option *ngFor="let customer of customerList" value="{{customer.customerName}}">
                      </option>
                    </datalist>
                    <mat-error *ngIf="!inputValid.customerName.cond">
                      {{inputValid.customerName.msg}}
                    </mat-error>
                  </mat-form-field>
                </td>
                <td style="width: 30%;">
                  <div class="{{inputValid.customerName.class}} textBold p-2 text-center infoCard">
                    {{(safeReciept.currentCustomerVal || 0) | number:'1.0-2'}}</div>
                </td>
              </tr>
              <!-- if concreteCustomer -->
              <tr *ngIf="safeReciept.transactionAccKind == 'عميل خرسانة'">
                <td style="width: 70%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="اسم عميل الخرسانة" list="concreteCustomerList" class="mdb-autocomplete"
                      #concreteCustomerName name="concreteCustomerName" [(ngModel)]="safeReciept.concreteCustomerName"
                      (change)="concreteCustomerNameChanged(addSafeReciept)" required>
                    <datalist id="concreteCustomerList">
                      <option *ngFor="let concreteCustomer of concreteCustomerList"
                        value="{{concreteCustomer.fullName}}">
                      </option>
                    </datalist>
                    <mat-error *ngIf="!inputValid.concreteCustomerName.cond">
                      {{inputValid.concreteCustomerName.msg}}
                    </mat-error>
                  </mat-form-field>
                </td>
                <td style="width: 30%;">
                  <div class="{{inputValid.concreteCustomerName.class}} textBold p-2 text-center infoCard">
                    {{(safeReciept.concreteCustomerVal || 0) | number:'1.0-2'}}</div>
                </td>
              </tr>
              <!-- if trckCustomer -->
              <tr *ngIf="safeReciept.transactionAccKind == 'عميل معدات'">
                <td style="width: 70%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="اسم عميل المُعدات" list="truckCustomerList" class="mdb-autocomplete"
                      #truckCustomerName name="truckCustomerName" [(ngModel)]="safeReciept.truckCustomerName"
                      (change)="truckCustomerNameChanged(addSafeReciept)" required>
                    <datalist id="truckCustomerList">
                      <option *ngFor="let truckCustomer of truckCustomerList" value="{{truckCustomer.fullName}}">
                      </option>
                    </datalist>
                    <mat-error *ngIf="!inputValid.truckCustomerName.cond">
                      {{inputValid.truckCustomerName.msg}}
                    </mat-error>
                  </mat-form-field>
                </td>
                <td style="width: 30%;">
                  <div class="{{inputValid.truckCustomerName.class}} textBold p-2 text-center infoCard">
                    {{(safeReciept.concreteCustomerVal || 0) | number:'1.0-2'}}</div>
                </td>
              </tr>
              <!-- if Acc -->
              <tr *ngIf="safeReciept.transactionAccKind == 'حساب'">
                <td style="width: 70%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="اسم الحساب" list="accList" class="mdb-autocomplete" #AccName
                      name="AccName" [(ngModel)]="safeReciept.AccName" (change)="accNameChanged(addSafeReciept)"
                      required>
                    <datalist id="accList">
                      <option *ngFor="let acc of accList" value="{{acc.AccName}}">
                      </option>
                    </datalist>
                    <mat-error *ngIf="!inputValid.AccName.cond">
                      {{inputValid.AccName.msg}}
                    </mat-error>
                  </mat-form-field>
                </td>
                <td style="width: 30%;">
                  <div class="{{inputValid.AccName.class}} textBold p-2 text-center infoCard">
                    {{(safeReciept.currentAccVal || 0) | number:'1.0-2'}}</div>
                </td>
              </tr>

              <tr *ngIf="safeReciept.transactionAccKind == 'دفعات للمعدة'">
                <td style="width: 70%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="اسم المعدة" list="truckList" class="mdb-autocomplete" #truckName
                      name="truckName" [(ngModel)]="safeReciept.truckName" (change)="truckNameChanged(addSafeReciept)"
                      required>
                    <datalist id="truckList">
                      <option *ngFor="let truck of truckList" value="{{truck.name}}">
                        {{truck.number}}
                      </option>
                    </datalist>
                    <mat-error *ngIf="!inputValid.truckName.cond">
                      {{inputValid.truckName.msg}}
                    </mat-error>
                  </mat-form-field>
                </td>
                <td style="width: 30%;">
                  <div class="{{inputValid.truckName.class}} textBold p-2 text-center infoCard">
                    {{(safeReciept.currentAccVal || 0) | number:'1.0-2'}}</div>
                </td>
              </tr>

              <tr *ngIf="safeReciept.transactionAccKind == 'موظفين'">
                <td style="width: 70%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="اسم الموظف" list="workerList" class="mdb-autocomplete" #workerName
                      name="workerName" [(ngModel)]="safeReciept.workerName"
                      (change)="workerNameChanged(addSafeReciept)" required>
                    <datalist id="workerList">
                      <option *ngFor="let worker of workerList" value="{{worker.workerName}}">
                        {{worker.workerJop}}
                      </option>
                    </datalist>
                    <mat-error *ngIf="!inputValid.workerName.cond">
                      {{inputValid.workerName.msg}}
                    </mat-error>
                  </mat-form-field>
                </td>
                <td style="width: 30%;">
                  <div class="{{inputValid.workerName.class}} textBold p-2 text-center infoCard">
                    {{(safeReciept.workerCurrentVal || 0) | number:'1.0-2'}}</div>
                </td>
              </tr>
            </table>

            <div class="mt-3">
              <mat-divider></mat-divider>
            </div>


            <table class="example-full-width" cellspacing="0" class="col-lg-12 col-sm-12">
              <tr>
                <td style="width: 20%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="قيمة الايصال" type="number" #receiptVal name="receiptVal"
                      [(ngModel)]="safeReciept.receiptVal" (ngModelChange)="receiptValChanged(addSafeReciept)" required>

                    <mat-hint class="textSmall" *ngIf="safeReciept.receiptVal > 999">{{safeReciept.receiptVal | number:
                      '1.0-3'}}</mat-hint>
                    <mat-error *ngIf="!inputValid.receiptVal.cond">
                      {{inputValid.receiptVal.msg}}
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" cellspacing="0">
                    <textarea matInput placeholder="ملاحظات" id="notes" name="notes" [(ngModel)]="safeReciept.recieptNote"></textarea>
                    <!-- <input matInput placeholder="ملاحظات" id="notes" name="notes" [(ngModel)]="safeReciept.recieptNote"> -->
                    <mat-hint align="end">{{safeReciept?.recieptNote?.length || 0}} / 200</mat-hint>
                  </mat-form-field>
                </td>
              </tr>
            </table>

            <table *ngIf="safeReciept.transactionAccKind === 'حساب' && !id" class="example-full-width my-3"
              cellspacing="0" class="col-lg-12 col-sm-12">
              <tr *ngFor="let otherVals of otherRecieptVals; let i = index">
                <td style="width: 20%;">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="قيمة الايصال ({{i +1}})" type="number" name="receiptVal{{i}}"
                      [(ngModel)]="otherVals.val" (ngModelChange)="otherReceiptValChanged(otherVals.val)" required>
                    <!-- <mat-error *ngIf="!inputValid.receiptVal.cond">
                        {{inputValid.receiptVal.msg}}
                      </mat-error> -->
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field class="example-full-width" cellspacing="0">
                    <textarea matInput placeholder="ملاحظات ({{i +1}})" name="notes{{i}}" [(ngModel)]="otherVals.note"></textarea>
                    <!-- <input matInput placeholder="ملاحظات ({{i +1}})" name="notes{{i}}" [(ngModel)]="otherVals.note"> -->
                    <mat-hint align="end">{{otherVals?.note?.length || 0}} / 200</mat-hint>
                  </mat-form-field>
                </td>
              </tr>
              <td *ngIf="otherRecieptVals.length < 10">
                <button mat-stroked-button color="accent" type="button" (click)="addOtherReceiptVal()">+</button>
              </td>
            </table>


            <div class="mt-3">
              <mat-divider></mat-divider>
            </div>

            <!-- receipt footer -->
            <div class="d-flex justify-content-between mt-3">
              <div class="form-inline">
                <button [disabled]="_glopal.loading || !safeReciept.receiptKind ||!addSafeReciept.dirty"
                  mat-raised-button color="primary" type="submit">{{submitBtn}}</button>

                <div class="infoCard printX py-2 mr-2 textBtn badgeBtn"
                  (click)="openSearchDialog(addSafeReciept, concreteReceiptCash.id)"
                  [ngClass]="concreteReceiptCash.id ? 'darkBadge borderLdark' :'dangerBadge borderLdanger'"
                  *ngIf="concreteReceiptCash.id || safeReciept.transactionAccKind === 'عميل خرسانة' && !safeReciept.recieptNote.includes(staticMixerNote)">
                  {{concreteReciptCash_btn}}
                </div>

                <div class="infoCard printX py-2 mr-2 textBtn badgeBtn darkBadge"
                  (click)="transeTo_statickpump_financial(addSafeReciept)"
                  *ngIf="safeReciept.transactionAccKind === 'عميل خرسانة' && !safeReciept.recieptNote.includes(staticMixerNote) && !concreteReceiptCash.id">
                  دفعة من مستخلص
                </div>
              </div>

              <div class="form-inline">
                <h3 class="my-auto ml-3 py-1 infoCard lightBg" (click)="toEditReport()"
                  [class.textBtn]="_auth?.check.prem && safeReciept.isUpdated"
                  [class.borderRight-alert]="safeReciept.isUpdated">
                  مُدخل البيانات | <span class="textDark">{{safeReciept.madeBy}}</span>
                </h3>
                <button *ngIf="id" type="button" mat-stroked-button color="warn" (click)="openDelDialog()" mat-button>
                  حذف الايصال
                </button>
              </div>
            </div>

            <div *ngIf="!_glopal.loading && !safeReciept.receiptKind || privateLoadingBar" class="mt-3">
              <mat-progress-bar mode="buffer"></mat-progress-bar>
            </div>
          </form>

        </mat-card-content>
        <!-- <mat-card-actions>
                <button mat-button>actionOne</button>
                <button mat-button>actionTwo</button>
          </mat-card-actions> -->
      </mat-card>

    </div>

    <!-- logo -->
    <div class="col-lg-2 col-md-12 printX">
      <div class="container text-center">
        <div class="arcPointer arcPointer-sm"
          [ngClass]="safeReciept.receiptKind == 'ايصال صرف نقدية' ? 'arcPointer-danger' : 'arcPointer-accent'">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <!-- <img class="sideLogo"
          src="assets/logos/safeReciept-Logo{{safeReciept.receiptKind == 'ايصال صرف نقدية' ? '-min' : ''}}.png"
          style="max-width: 75%;">
      </div> -->
        <div *ngIf="!id" class="box mt-3">

          <mat-card>
            <mat-card-header class="d-flex justify-content-between">
              <!-- <div mat-card-avatar>avatar</div> -->
              <mat-card-title>{{safeReciept.safeName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="infoCard text-center mx-auto textBold py-3"
                [ngClass]="valsRemain.safeRemain >= 0 ? 'blueBadge borderLblue' : 'dangerBadge borderLdanger'"
                style="width: 80%; font-size: larger;">
                {{valsRemain.safeRemain | number:'1.0-2'}}
              </div>

              <div *ngIf="valsRemain.otherValDetail">
                <div class="text-center pt-3 pb-2">
                  {{valsRemain.otherValDetail}}
                </div>
                <div class="infoCard text-center mx-auto textBold py-3"
                  [ngClass]="valsRemain.otherValRemain >= 0 ? 'secondaryBadge borderLsecondary' : 'dangerBadge borderLdanger'"
                  style="width: 80%; font-size: larger;">
                  {{valsRemain.otherValRemain | number:'1.0-2'}}
                </div>
              </div>
            </mat-card-content>

          </mat-card>

        </div>
      </div>
    </div>

  </div>
