<mat-toolbar *ngIf="_router.url != '/LogIn' && _router.url != '/CaherReceipt'" class="printX">

  <button mat-button color="accent" [class.change]="opened" class="ml-2" (click)="opened = !opened">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </button>

  <!-- navigation Buttons -->
  <div class="my-auto printX righttBorder">
    <a mat-button color="accent" (click)="goBack()" matTooltip="الرجوع">
      <i class="fa fa-angle-right fa-lg pt-1 textBold"></i>
    </a>
    <a *ngIf="_router.url != '/Home'" mat-button routerLink="/Home" color="accent" matTooltip="الرئيسية"
      (click)="opened = false">
      <i class="fa fa-home fa-lg pt-1"></i>
    </a>
    <a mat-button class="textBold" color="accent" (click)="backUp()" matTooltip="نسخة احتياطية">
      <i class="fa fa-download pt-1"></i>
    </a>

  </div>
  <!-- changeMainUrl('setDefult') -->

  <div class="my-auto righttBorder printX">
    <a *ngIf="_glopal.notification.value" mat-button class="textBold" color="accent" routerLink="/checkList"
      (click)="opened = false">
      <i [matBadge]="_glopal.notification.value" matBadgeColor="warn" class="fa fa-bell pt-1 textBold"
        style="transform: rotate(10deg)">
      </i>
    </a>

    <a *ngIf="_auth?.check?.dev && mainUrl !='http://localhost/shayman/'" mat-button [matTooltip]="mainUrl" Qa
      (click)="toAymanDb()">
      <i class="fa fa-database my-auto pl-2"></i></a>
  </div>

  <h4 id="currentHeader" class="textBold my-auto infoCard"> {{ _glopal?.currentHeader }}</h4>

  <span class="example-spacer"></span>

  <div class="form-inline">
    <a mat-button (click)="out()" class="textBold btnToDanger printX" matTooltip="تسجيل الخروج">
      <div class="m-auto">
        {{ _auth.uName?.realName }}
        <i class="fa fa-sign-out fa-lg"></i>
      </div>
    </a>
    <img src="assets/usersPics/{{_auth?.uName?.userPic}}" onerror="this.src = 'assets/usersPics/defultpersonImg.jpg'"
      class="mr-2 blob boxShadow" style="height: 40px;">
  </div>

</mat-toolbar>
<div id="containerLoader" [class.d-none]="!_glopal.loading || _router.url === '/LogIn'">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-sidenav-container *ngIf="_auth?.check != null">
  <!-- sideNave -->
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" position="end" style="width: 240px">
    <mat-nav-list dense>
      <mat-accordion multi="false">
        <mat-expansion-panel dense *ngIf="_auth?.check?.workers" [class.mainBg]="expansionPanel[0].opened"
          (opened)="expansionPanel[0].opened = true" (closed)="expansionPanel[0].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-database my-auto pl-2"></i>
            البيانات
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item routerLink="/Workers" (click)="opened = !opened" *ngIf="_auth?.check?.workers">
              <i class="fa fa-address-book my-auto pl-2"></i>
              العاملين
            </a>
            <a mat-list-item routerLink="/mainCompanies" (click)="opened = !opened" *ngIf="_auth?.check?.workers">
              <i class="fa fa-university my-auto pl-2"></i>
              الشركات الأم
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel [class.mainBg]="expansionPanel[1].opened" (opened)="expansionPanel[1].opened = true"
          (closed)="expansionPanel[1].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-th my-auto pl-2"></i>
            الحسابات
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item routerLink="/CustomerList" (click)="opened = !opened"
              *ngIf="_auth?.check?.customers">موردين/مستهلكين</a>
            <a mat-list-item routerLink="/otherAcc" (click)="opened = !opened" *ngIf="_auth?.check?.otherAcc">
              المصاريف
            </a>
            <div class="form-inline my-2" *ngIf="_auth?.check?.checksTrace">
              <button mat-button class="textSecondary textBold" style="width: 72%; text-align: right"
                routerLink="/checkList" (click)="opened = !opened">
                تتبع الشيكات
              </button>
              <button mat-flat-button routerLink="/addCheck" (click)="opened = !opened" style="width: 20%;"
                matTooltip="اضافة شيك" matTooltipPosition="above">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>

            <mat-divider></mat-divider>

            <a mat-list-item routerLink="/instructions/customer_instructions" (click)="opened = !opened"
              *ngIf="_auth?.check?.customers">
              <i class="fa fa-exclamation-triangle my-auto pl-2"></i>
              التعليمات
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel [class.mainBg]="expansionPanel[2].opened" (opened)="expansionPanel[2].opened = true"
          (closed)="expansionPanel[2].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-calculator my-auto pl-2"></i>
            المالية
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <div class="form-inline">
              <button mat-flat-button (click)="openSearchDialog('safeReceipt')" color="accent"
                style="text-align: right; width: 72%;">
                ايصال نقدية
              </button>
              <button mat-button routerLink="/SafeReceipt" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>

            <a mat-list-item routerLink="/Safe" (click)="opened = !opened">الخزنة</a>

            <!-- <mat-divider></mat-divider>

            <a mat-list-item (click)="opened = !opened">
              <i class="fa fa-exclamation pt-1 pl-2 textBold"></i>
              تعليمات
            </a> -->
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel [class.mainBg]="expansionPanel[3].opened" (opened)="expansionPanel[3].opened = true"
          (closed)="expansionPanel[3].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-archive my-auto pl-2"></i>
            المخازن
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <div class="form-inline my-2" *ngIf="_auth?.check?.stockeInv">
              <button mat-flat-button (click)="openSearchDialog('stockInvoice')" color="accent"
                style="width: 72%; text-align: right">
                فاتورة بيع | شراء
              </button>
              <button mat-button routerLink="/StockInvoice" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>
            <a mat-list-item routerLink="/Stokes" (click)="opened = !opened">بيانات المخازن</a>
            <mat-divider></mat-divider>
            <div class="form-inline my-2" *ngIf="_auth?.check?.stockes">
              <button mat-button class="textSecondary textBold" style="width: 72%; text-align: right"
                routerLink="/StockingList" (click)="opened = !opened">
                حساب الجرد الفعلى
              </button>
              <button mat-flat-button routerLink="/Stocking" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>
            <a mat-list-item (click)="openSearchDialog('invoiceAll')">تقرير فواتير مخزن</a>
            <a mat-list-item (click)="openSearchDialog('outInvoices')">تقرير فواتير البيع</a>
            <a mat-list-item (click)="openSearchDialog('inInvoices')">تقرير فواتير الشراء</a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="openSearchDialog('ProductsProfits')">تقرير الارباح</a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel dense [class.mainBg]="expansionPanel[4].opened" (opened)="expansionPanel[4].opened = true"
          (closed)="expansionPanel[4].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-industry my-auto pl-2"></i>
            محطة تاور للخرسانة
          </mat-expansion-panel-header>
          <mat-nav-list>

            <div class="form-inline mb-2">
              <button mat-flat-button routerLink="/ConcreteBonList" color="accent" class="textBold"
                style="text-align: right; width: 72%;" (click)="opened = !opened">
                بونات الخرسانة
              </button>
              <button mat-flat-button routerLink="/AddConcreteBon" (click)="opened = !opened" style="width: 20%;"
                matTooltip="بون جديد">
                <i class="fa fa-plus pt-1 textBold textWhite"></i>
              </button>
            </div>


            <div class="form-inline">
              <button mat-button routerLink="/concreteReceiptList" color="accent" class="textBold"
                style="text-align: right; width: 72%;" (click)="opened = !opened">
                اذون الخرسانة
              </button>
              <button mat-flat-button routerLink="/ConcreteReceipt" (click)="opened = !opened" style="width: 20%;"
                matTooltip="اذن جديد">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>

            <mat-divider class="mt-2"></mat-divider>

            <a mat-list-item routerLink="/ConcreteCustomerList" (click)="opened = !opened" class="textBold">
              <!-- <i class="fa fa-users pt-1 pl-2"></i> -->
              <span class="textPrimary">
                عملاء الخرسانة
              </span>
            </a>

            <a mat-list-item routerLink="/StockInformation/11" (click)="opened = !opened">مخزن تاور</a>
            <a mat-list-item routerLink="/ConcreteList" (click)="opened = !opened">خرسانة جهد و محتوى</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/TrucksList/mixers" (click)="opened = !opened">خلاطات</a>
            <a mat-list-item routerLink="/TrucksList/pumps" (click)="opened = !opened">مضخات</a>
            <a mat-list-item routerLink="/invoiceReport/productTransaction/7/11" (click)="opened = !opened">حركة
              الاسمنت</a>
            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/OtherAccInformation/36" (click)="opened = !opened" class="textBold">
              <span class="textDanger">مصاريف المحطة</span>
            </a>
            <a mat-list-item routerLink="/ConcreteFinancialPosition" (click)="opened = !opened" class="textBold">
              <span class="textDark">الموقف المالى</span>
            </a>

            <a mat-list-item routerLink="/concreteProfits" (click)="opened = !opened" class="textBold">
              <i class="fa fa-money pl-2 textBold" aria-hidden="true"></i>
              <span class="textSecondary">ارباح المحطة</span>
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel [class.mainBg]="expansionPanel[5].opened" (opened)="expansionPanel[5].opened = true"
          (closed)="expansionPanel[5].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-truck my-auto pl-2"></i>
            المُعدات
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <div class="form-inline">
              <button mat-flat-button routerLink="/trucksOrderLog" color="accent" class="textBold"
                style="text-align: right; width: 72%;" (click)="opened = !opened">
                اذون المُعدات
              </button>
              <button mat-button routerLink="/AddTruckorder" (click)="opened = !opened" style="width: 20%;"
                matTooltip="اذن جديد">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>

            <a mat-list-item routerLink="/TruckCustomerList" (click)="opened = !opened" class="textBold">
              <!-- <i class="fa fa-users pt-1 pl-2 textSecondary"></i> -->
              <span class="textPrimary">عملاء المُعدات</span>
            </a>

            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/TrucksList" class="textBold" (click)="opened = !opened">جميع المُعدات</a>
            <a mat-list-item routerLink="/TrucksList/cars" (click)="opened = !opened">سيارات</a>
            <a mat-list-item routerLink="/TrucksList/loaders" (click)="opened = !opened">لودرات</a>
            <a mat-list-item routerLink="/TrucksList/harras" (click)="opened = !opened">هراسات</a>
            <a mat-list-item routerLink="/TrucksList/diggers" (click)="opened = !opened">حفارات</a>

            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/ourTrucks" class="textBold" (click)="opened = !opened">معدات الشركة</a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel dense [class.mainBg]="expansionPanel[6].opened" (opened)="expansionPanel[6].opened = true"
          (closed)="expansionPanel[6].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-cube my-auto pl-2"></i>
            تقارير التعديل و الحذف
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/InvoiceChangesReport" (click)="opened = !opened">
              الفواتير
            </a>
            <a mat-list-item routerLink="/ReceiptsChangesReport" (click)="opened = !opened">
              ايصالات النقدية
            </a>

            <a mat-list-item *ngIf="_auth?.check?.taxes" routerLink="Addtaxes" (click)="opened = !opened">تقرير ض</a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel dense [class.mainBg]="expansionPanel[7].opened" (opened)="expansionPanel[7].opened = true"
          (closed)="expansionPanel[7].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-cogs my-auto pl-2"></i>
            الاعدادات العامة
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item (click)="backUp()">
              <i class="fa fa-download my-auto pl-2"></i>
              نسخة احتياطية
            </a>
            <div class="form-inline my-2">
              <button mat-button class="textSecondary textBold" style="width: 72%; text-align: right"
                (click)="openSearchDialog('users')">
                <i class="fa fa-user my-auto pl-2"></i>
                المستخدمين
              </button>
              <button mat-flat-button routerLink="/UserSettings" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel dense [class.mainBg]="expansionPanel[8].opened" (opened)="expansionPanel[8].opened = true"
          (closed)="expansionPanel[8].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-phone my-auto pl-2"></i>
            الدعم الفنى
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item (click)="hRefTo('http://facebook.com/mohammed.fakhry')">
              <i class="fa fa-facebook-f my-auto pl-2" style="color: #006699;"></i>
              Mohammed Fakhry
            </a>
            <a mat-list-item (click)="hRefTo('http://web.whatsapp.com')">
              <i class="fa fa-whatsapp text-success my-auto pl-2"></i>
              01100703075
            </a>
            <mat-divider *ngIf="_auth?.check?.dev"></mat-divider>

            <a mat-list-item routerLink="/FixesComponent" (click)="opened = !opened" class="textBold"
              *ngIf="_auth?.check?.dev">systemFixes</a>

          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <!-- content -->
  <mat-sidenav-content id="sideNavContent">

    <svg class="printX" id="svg" viewBox="0 0 1440 400">
      <path
        d="M 0,400 C 0,400 0,133 0,133 C 102.64114832535887,149.85167464114832 205.28229665071774,166.70334928229664 289,177 C 372.71770334928226,187.29665071770336 437.51196172248797,191.03827751196175 530,179 C 622.488038277512,166.96172248803825 742.6698564593302,139.14354066985643 847,135 C 951.3301435406698,130.85645933014357 1039.8086124401914,150.38755980861245 1136,154 C 1232.1913875598086,157.61244019138755 1336.0956937799042,145.3062200956938 1440,133 C 1440,133 1440,400 1440,400 Z"
        stroke="none" stroke-width="0" fill="#f0f2fc">
      </path>
      <path *ngIf="_router.url != '/Home'" style="opacity: 0.9;"
        d="M 0,400 C 0,400 0,266 0,266 C 121.76076555023923,243.28229665071768 243.52153110047846,220.5645933014354 339,219 C 434.47846889952154,217.4354066985646 503.67464114832535,237.0239234449761 588,247 C 672.3253588516747,256.9760765550239 771.77990430622,257.3397129186603 864,267 C 956.22009569378,276.6602870813397 1041.2057416267944,295.61722488038276 1136,297 C 1230.7942583732056,298.38277511961724 1335.3971291866028,282.1913875598086 1440,266 C 1440,266 1440,400 1440,400 Z"
        stroke="none" stroke-width="0" fill="#d7ddfa">
      </path>

     <!--
      <path *ngIf="_glopal.svgColor == 'red'"
        d="M 0,400 C 0,400 0,133 0,133 C 102.64114832535887,149.85167464114832 205.28229665071774,166.70334928229664 289,177 C 372.71770334928226,187.29665071770336 437.51196172248797,191.03827751196175 530,179 C 622.488038277512,166.96172248803825 742.6698564593302,139.14354066985643 847,135 C 951.3301435406698,130.85645933014357 1039.8086124401914,150.38755980861245 1136,154 C 1232.1913875598086,157.61244019138755 1336.0956937799042,145.3062200956938 1440,133 C 1440,133 1440,400 1440,400 Z"
        stroke="none" stroke-width="0" fill="#f2c2ca">
      </path>
      <path *ngIf="_router.url != '/Home' && _glopal.svgColor == 'red'" style="opacity: 0.9;"
        d="M 0,400 C 0,400 0,266 0,266 C 121.76076555023923,243.28229665071768 243.52153110047846,220.5645933014354 339,219 C 434.47846889952154,217.4354066985646 503.67464114832535,237.0239234449761 588,247 C 672.3253588516747,256.9760765550239 771.77990430622,257.3397129186603 864,267 C 956.22009569378,276.6602870813397 1041.2057416267944,295.61722488038276 1136,297 C 1230.7942583732056,298.38277511961724 1335.3971291866028,282.1913875598086 1440,266 C 1440,266 1440,400 1440,400 Z"
        stroke="none" stroke-width="0" fill="rgba(242, 17, 54, 0.5)">
      </path> -->
    </svg>

    <!-- printHeader -->
    <div class="mx-5 mt-4" id="printHeader">
      <div class="d-flex justify-content-between">
        <div>
          <div class="textBolder textSecondary">شركة تاور للخرسانات الجاهزة</div>
          <div class="textBolder mt-3"
            [class.d-none]="_router.url.includes('ConcreteReceipt') || _router.url.includes('StockInvoice')">
            للمقاولات العمومية
          </div>
          <div class="textBolder mt-3"
            [class.d-none]="_router.url.includes('ConcreteReceipt') || _router.url.includes('StockInvoice')">
            و التـوريدات
          </div>
          <h2></h2>
          <div class="py-1"
            [class.d-none]="!_router.url.includes('ConcreteReceipt') && !_router.url.includes('StockInvoice')">
            رقم السجل التجارى : 426661
          </div>
          <div class="py-1"
            [class.d-none]="!_router.url.includes('ConcreteReceipt') && !_router.url.includes('StockInvoice')">
            ملف ضريبى رقم : 24_03_410_02967_5_247
          </div>
          <div class="py-1"
            [class.d-none]="!_router.url.includes('ConcreteReceipt') && !_router.url.includes('StockInvoice')">
            رقم التسجيل الضريبى: 479_358_726
          </div>
        </div>
        <img src="assets/logos/printLogo.jpg" class="logoimg" id="printLogo" alt="">
      </div>
      <mat-divider class="my-3"></mat-divider>
    </div>
    <!-- outlet -->
    <router-outlet #outlet="outlet"></router-outlet>
    <!-- printFooter -->
    <div class="printThis mt-3" [class.d-none]="_router.url.includes('ConcreteReceipt')">
      <mat-divider class="my-3"></mat-divider>
      <div class="d-flex justify-content-between px-5">
        <h3>اعداد</h3>
        <h3>المالية</h3>
        <h3>المتابعة</h3>
        <h3>الاعتماد</h3>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>

<app-log-in *ngIf="_router.url === '/LogIn'"></app-log-in>

<!-- sci-fi-click -->
<div id="audios" class="d-none">
  <audio src="assets/audio/alert.wav" controls id="alertAudio"></audio>
  <audio src="assets/audio/longPop.wav" controls id="longPop"></audio>
  <audio src="assets/audio/popAlert.mp3" controls id="popAlert"></audio>
  <audio src="assets/audio/mouseClickClose.wav" controls id="mouseClickClose"></audio>
  <audio src="assets/audio/secondaryDone.wav" controls id="secondaryDone"></audio>
  <audio src="assets/audio/shortFail.mp3" controls id="shortFail"></audio>
  <audio src="assets/audio/intro.mp3" controls id="intro"></audio>
  <audio src="assets/audio/drumFail.wav" controls id="drumFail"></audio>
  <!-- <audio src="assets/audio/sweepTransition.wav" controls id="sweepTransition"></audio> -->
</div>
