<mat-toolbar *ngIf="_router.url != '/LogIn' && _router.url != '/CaherReceipt'" class="printX">

  <button mat-button color="primary" [class.change]="opened" class="ml-2" (click)="opened = !opened">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </button>

  <!-- navigation Buttons -->
  <div class="my-auto printX righttBorder">
    <a mat-button color="accent" (click)="goBack()" matTooltip="الرجوع">
      <i class="fa fa-angle-right fa-lg pt-1 textBold"></i>
    </a>
    <a *ngIf="_router.url != '/Home'" mat-button routerLink="/Home" color="accent" matTooltip="الرئيسية"
      (click)="opened = false">
      <i class="fa fa-home fa-lg pt-1"></i>
    </a>
    <a mat-button class="textBold" color="accent" (click)="backUp()" matTooltip="نسخة احتياطية">
      <i class="fa fa-download pt-1"></i>
    </a>

  </div>
  <!-- <i class="fas fa-database"></i> -->

  <div class="my-auto righttBorder printX">
    <a *ngIf="_glopal.notification.value" mat-button class="textBold" color="primary" routerLink="/checkList"
      (click)="opened = false">
      <i [matBadge]="_glopal.notification.value" matBadgeColor="warn" class="fa fa-bell pt-1 textBold"
        style="transform: rotate(10deg)">
      </i>
    </a>
  </div>

  <h4 id="currentHeader" class="textBold my-auto infoCard"> {{ _glopal?.currentHeader }}</h4>

  <span class="example-spacer"></span>

  <div class="form-inline">
    <a mat-button [routerLink]="'/LogIn'" class="textBold btnToDanger printX" matTooltip="تسجيل الخروج">
      <div class="m-auto">
        {{ _auth.uName?.realName }}
        <i class="fa fa-sign-out fa-lg"></i>
      </div>
    </a>
    <img src="assets/usersPics/{{_auth?.uName?.userPic}}" onerror="this.src = 'assets/usersPics/defultpersonImg.jpg'"
      class="mr-2 blob boxShadow" style="height: 40px;">
  </div>

</mat-toolbar><!--  -->
<div id="containerLoader" [class.d-none]="!_glopal.loading || _router.url === '/LogIn'">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-sidenav-container *ngIf="_auth?.check != null">
  <mat-sidenav #sidenav mode="over" [(opened)]="opened" position="end" style="width: 240px">
    <mat-nav-list dense>
      <mat-accordion multi="false">
        <!-- <a mat-list-item routerLink="/Clients" (click)="opened = !opened" *ngIf="_auth?.check.clients">العملاء</a>
          <a mat-list-item routerLink="/Unites" (click)="opened = !opened" *ngIf="_auth?.check.unites">الوحدات</a>
          <a mat-list-item routerLink="/Unites" (click)="opened = !opened" *ngIf="_auth?.check.unites">
            تقنين الوحدات
        </a> -->
        <!-- <mat-expansion-panel dense *ngIf="
            _auth?.check.workers || _auth?.check.clients || _auth?.check.unites
          " [class.mainBg]="expansionPanel[0].opened" (opened)="expansionPanel[0].opened = true"
          (closed)="expansionPanel[0].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-database my-auto pl-2"></i>
            البيانات
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item routerLink="/Workers" (click)="opened = !opened" *ngIf="_auth?.check.workers">العاملين</a>

          </mat-nav-list>
        </mat-expansion-panel> -->

        <mat-expansion-panel *ngIf="_auth?.check.customers" [class.mainBg]="expansionPanel[1].opened"
          (opened)="expansionPanel[1].opened = true" (closed)="expansionPanel[1].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-th my-auto pl-2"></i>
            الحسابات
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <a mat-list-item routerLink="/CustomerList" (click)="opened = !opened"
              *ngIf="_auth?.check.customers">موردين/مستهلكين</a>
            <a mat-list-item routerLink="/otherAcc" (click)="opened = !opened" *ngIf="_auth?.check.customers">
              المصاريف
            </a>
            <div class="form-inline my-2" *ngIf="_auth?.check.stockes">
              <button mat-button class="textSecondary textBold" style="width: 72%; text-align: right"
                routerLink="/checkList" (click)="opened = !opened">
                تتبع الشيكات
              </button>
              <button mat-flat-button routerLink="/addCheck" (click)="opened = !opened" style="width: 20%;"
                matTooltip="اضافة شيك" matTooltipPosition="above">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="_auth?.check.safes" [class.mainBg]="expansionPanel[2].opened"
          (opened)="expansionPanel[2].opened = true" (closed)="expansionPanel[2].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-calculator my-auto pl-2"></i>
            المالية
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <div class="form-inline">
              <button mat-flat-button (click)="openSearchDialog('safeReceipt')" color="accent"
                style="text-align: right; width: 72%;">
                ايصال نقدية
              </button>
              <button mat-raised-button routerLink="/SafeReceipt" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>

            <a mat-list-item routerLink="/Safe" (click)="opened = !opened">الخزنة</a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel [class.mainBg]="expansionPanel[3].opened" (opened)="expansionPanel[3].opened = true"
          (closed)="expansionPanel[3].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-archive my-auto pl-2"></i>
            المخازن
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <div class="form-inline my-2" *ngIf="_auth?.check.stockes">
              <button mat-flat-button (click)="openSearchDialog('stockInvoice')" color="accent"
                style="width: 72%; text-align: right">
                فاتورة بيع | شراء
              </button>
              <button mat-raised-button routerLink="/StockInvoice" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>
            <a mat-list-item routerLink="/Stokes" (click)="opened = !opened">بيانات المخازن</a>
            <mat-divider></mat-divider>
            <div class="form-inline my-2" *ngIf="_auth?.check.stockes">
              <button mat-button class="textSecondary textBold" style="width: 72%; text-align: right"
                routerLink="/StockingList" (click)="opened = !opened">
                حساب الجرد الفعلى
              </button>
              <button mat-flat-button routerLink="/Stocking" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>
            <a mat-list-item (click)="openSearchDialog('invoiceAll')">تقرير فواتير مخزن</a>
            <a mat-list-item (click)="openSearchDialog('outInvoices')">تقرير فواتير البيع</a>
            <a mat-list-item (click)="openSearchDialog('inInvoices')">تقرير فواتير الشراء</a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="openSearchDialog('ProductsProfits')" *ngIf="_auth?.check.prem">تقرير الارباح</a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="_auth?.check.prem" dense [class.mainBg]="expansionPanel[4].opened"
          (opened)="expansionPanel[4].opened = true" (closed)="expansionPanel[4].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-industry my-auto pl-2"></i>
            التصنيع
          </mat-expansion-panel-header>
          <mat-nav-list>

            <div class="form-inline mb-2">
              <button mat-flat-button routerLink="/ConcreteBonList" color="primary" class="textBold"
                style="text-align: right; width: 72%;" (click)="opened = !opened">
                بونات الخرسانة
              </button>
              <button mat-raised-button routerLink="/AddConcreteBon" (click)="opened = !opened" style="width: 20%;"
                matTooltip="بون جديد">
                <i class="fa fa-plus pt-1 textBold textWhite"></i>
              </button>
            </div>


            <div class="form-inline">
              <button mat-button routerLink="/concreteReceiptList" color="accent" class="textBold"
                style="text-align: right; width: 72%;" (click)="opened = !opened">
                اذون الخرسانة
              </button>
              <button mat-flat-button routerLink="/ConcreteReceipt" (click)="opened = !opened" style="width: 20%;"
                matTooltip="اذن جديد">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>

            <mat-divider class="my-2"></mat-divider>

            <a mat-list-item routerLink="/ConcreteList" (click)="opened = !opened">الخرسانة</a>

            <a mat-list-item routerLink="/ConcreteCustomerList" (click)="opened = !opened">عملاء الخرسانة</a>
            <!-- <a mat-list-item routerLink="/ReceiptsChangesReport" (click)="opened = !opened">
              ايصالات النقدية
            </a> -->
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="_auth?.check.safes" [class.mainBg]="expansionPanel[5].opened"
          (opened)="expansionPanel[5].opened = true" (closed)="expansionPanel[5].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-truck my-auto pl-2"></i>
            المُعدات
          </mat-expansion-panel-header>
          <mat-nav-list dense>
            <div class="form-inline">
              <button mat-flat-button routerLink="/trucksOrderLog" color="accent" class="textBold"
                style="text-align: right; width: 72%;" (click)="opened = !opened">
                اذون المُعدات
              </button>
              <button mat-raised-button routerLink="/AddTruckorder" (click)="opened = !opened" style="width: 20%;"
                matTooltip="اذن جديد">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>

            <a mat-list-item routerLink="/TruckCustomerList" (click)="opened = !opened">عملاء المُعدات</a>

            <mat-divider></mat-divider>
            <a mat-list-item routerLink="/TrucksList/cars" (click)="opened = !opened">سيارات</a>
            <a mat-list-item routerLink="/TrucksList/loaders" (click)="opened = !opened">لودرات</a>
            <a mat-list-item routerLink="/TrucksList/harras" (click)="opened = !opened">هراسات</a>
            <a mat-list-item routerLink="/TrucksList/diggers" (click)="opened = !opened">حفارات</a>
            <a mat-list-item routerLink="/TrucksList/mixers" (click)="opened = !opened">خلاطات</a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="_auth?.check.prem" dense [class.mainBg]="expansionPanel[6].opened"
          (opened)="expansionPanel[6].opened = true" (closed)="expansionPanel[6].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-cube my-auto pl-2"></i>
            تقارير التعديل و الحذف
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="/InvoiceChangesReport" (click)="opened = !opened">
              الفواتير
            </a>
            <a mat-list-item routerLink="/ReceiptsChangesReport" (click)="opened = !opened">
              ايصالات النقدية
            </a>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel *ngIf="_auth?.check.prem" dense [class.mainBg]="expansionPanel[7].opened"
          (opened)="expansionPanel[7].opened = true" (closed)="expansionPanel[7].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-cogs my-auto pl-2"></i>
            الاعدادات العامة
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item (click)="backUp()">
              <i class="fa fa-download my-auto pl-2"></i>
              نسخة احتياطية
            </a>
            <div class="form-inline my-2" *ngIf="_auth?.check.prem">
              <button mat-button class="textSecondary textBold" style="width: 72%; text-align: right"
                (click)="openSearchDialog('users')">
                <i class="fa fa-user my-auto pl-2"></i>
                المستخدمين
              </button>
              <button mat-flat-button routerLink="/UserSettings" (click)="opened = !opened" style="width: 20%;">
                <i class="fa fa-plus pt-1 textBold"></i>
              </button>
            </div>
          </mat-nav-list>
        </mat-expansion-panel>

        <mat-expansion-panel dense [class.mainBg]="expansionPanel[8].opened" (opened)="expansionPanel[8].opened = true"
          (closed)="expansionPanel[8].opened = false">
          <mat-expansion-panel-header class="textBold textPrimary">
            <i class="fa fa-phone my-auto pl-2"></i>
            الدعم الفنى
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item (click)="hRefTo('http://facebook.com/mohammed.fakhry')">
              <i class="fa fa-facebook-f my-auto pl-2" style="color: #006699;"></i>
              Mohammed Fakhry
            </a>
            <a mat-list-item (click)="hRefTo('http://web.whatsapp.com')">
              <i class="fa fa-whatsapp text-success my-auto pl-2"></i>
              01100703075
            </a>
            <mat-divider *ngIf="_auth?.check.dev"></mat-divider>

            <a mat-list-item routerLink="/FixesComponent" (click)="opened = !opened" class="textBold"
              *ngIf="_auth?.check.dev">systemFixes</a>

            <!-- <a mat-list-item routerLink="/tryDev" (click)="opened = !opened" class="textBold"
              *ngIf="_auth.uName?.realName == 'فوزى' || _auth.uName?.realName == 'فخري'">
              الجمعية
            </a> -->
          </mat-nav-list>
        </mat-expansion-panel>

      </mat-accordion>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="sideNavContent">
    <div class="mx-5 mt-4" id="printHeader">
      <div class="d-flex justify-content-between">
        <div>
          <!-- <h2>
            شركة تاور للخرسانات الجاهزة
            و المقاولات العمومية و التوريدات
          </h2> -->
          <div class="textBolder textSecondary">شركة تاور للخرسانات الجاهزة</div>
          <!-- <div class="textBolder"> المقاولات العمومية و التوريدات</div> -->
          <h2></h2>
          <div class="py-1" [class.d-none]="!_router.url.includes('ConcreteReceipt')">
            رقم السجل التجارى : 426661
          </div>
          <div class="py-1" [class.d-none]="!_router.url.includes('ConcreteReceipt')">
            ملف ضريبى رقم : 24_03_410_02967_5_247
          </div>
          <div class="py-1" [class.d-none]="!_router.url.includes('ConcreteReceipt')">
            رقم التسجيل الضريبى: 479_358_726
          </div>
        </div>
        <!-- <div>{{_globalVarsService.currentRoute}}</div> -->
        <img src="assets/logos/printLogo.jpg" class="logoimg" id="printLogo" alt="">
      </div>
      <mat-divider class="my-3"></mat-divider>
    </div>
    <router-outlet #outlet="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-log-in *ngIf="_router.url === '/LogIn'"></app-log-in>
