@import "../../../../scss/varibals.scss";

#truckworkes {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

#truckworkes::-webkit-scrollbar {
  width: $scrollBarWidth;
}

#truckworkes::-webkit-scrollbar-track {
  background: transparent;
}

#truckworkes::-webkit-scrollbar-thumb {
  background-color: $secondaryBg;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}
