<div class="mx-2">
  <h2 mat-dialog-title class="infoCard px-4 py-2 dangerBadge borderLdanger lightShadow">{{data.header}}</h2>
  <mat-dialog-content class="infoSection">
      <div class="panel-body panel-flex-table standTable">
          <table class="flex-table table">
              <tbody class="tableBody noHover">
                  <tr>
                      <td class="textBold textDanger borderLdanger">{{data.info}}</td>
                  </tr>
                  <tr *ngFor="let desc of data.discription">
                      <td class="borderLdanger lightBg">{{desc}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
  </mat-dialog-content>
  <mat-divider></mat-divider>
  <mat-dialog-actions>
      <button mat-stroked-button color="primary" mat-dialog-close mat-dialog-close="false">الغاء</button>
      <button mat-flat-button color="warn" mat-dialog-close mat-dialog-close="true" [disabled]="!canDel" (click)="playLongPop()">{{delBtnVal}}</button>
  </mat-dialog-actions>
</div>
