<div class="container">
  <div class="box p-4">
    <h3 class="cardHeader mb-4">بيانات العميل</h3>
    <form (ngSubmit)="onSubmit(addCustomerForm)" #addCustomerForm="ngForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>الاسم</mat-label>
              <input required matInput name="fullName" [(ngModel)]="customer.fullName" #fullName
                (change)="isCustomerRecorded(addCustomerForm)">
              <mat-error *ngIf="!inputValid.customerName.cond">
                {{inputValid.customerName.msg}}
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>العنوان</mat-label>
              <input matInput name="adress" [(ngModel)]="customer.adress">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <table class="example-full-width mt-3" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>هاتف</mat-label>
              <input matInput #tell minlength="11" maxlength="11" name="tell" [(ngModel)]="customer.tell">
              <mat-hint align="end">{{tell.value.length}} / 11</mat-hint>
              <mat-error *ngIf="tell.value.length != 11 && tell.value">
                يجب ادخال 11 رقم
              </mat-error>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>رصيد اول</mat-label>
              <input matInput required name="openedVal" [(ngModel)]="customer.openedVal"
                [disabled]="!_auth?.check.prem">
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <mat-label>مورد الاسمنت</mat-label>
              <input matInput name="cementCustomerName" [(ngModel)]="customer.cementCustomerName" #cementCustomerName
                list="cementCustomers" (change)="cementCustomerChanged(addCustomerForm)">

                <mat-error>
                  المورد غير مسجل بقاعدة البيانات
                </mat-error>
              <datalist id="cementCustomers">
                <option *ngFor="let cementCustomer of cementCustomers" value="{{cementCustomer.customerName}}">
                </option>
              </datalist>
            </mat-form-field>
          </td>

          <td>
            <mat-form-field class="example-full-width">
              <mat-label>ملاحظات</mat-label>
              <input matInput name="notes" [(ngModel)]="customer.notes">
            </mat-form-field>
          </td>
        </tr>
      </table>

      <div class="form-inline">
        <button mat-flat-button color="primary" class="mt-3" type="submit">
          {{id ? 'تعديل' : 'تسجيل'}}
        </button>
        <div *ngIf="!formValid" class="dangerAlert mt-3 mr-3">يجب مراجعة اخطاء الادخال قبل التسجيل</div>
      </div>
    </form>
  </div>
</div>
