.printThis {
  display: none !important;
}

@media print {
  .printThis {
    display: block !important;
  }

  .section {
    page-break-after: always;
  }
}
.detailTable {
  th, td {
    padding: .75rem;
  }
}
